@import "tailwindcss";

body {
  margin: 0;
  height: 100vh;
}

#root {
  height: 100%;
}

.pnl-positive {
  color: #10b981;
}

.pnl-negative {
  color: #ef4444;
}

.scrollbar-thin {
  scrollbar-width: thin;
}

.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: #121825;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background: #2a3447;
  border-radius: 3px;
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background: #6b7280;
}
